BasedOnStyle: GNU
IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 2  # Indents continuation lines by 2 spaces
AllowShortFunctionsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
BreakBeforeBraces: Attach
