.git/
.obj/
bin/
build/
*.o
*.a
*.d
tags
Jenkinsfile
*~
*.log
*.gz
*.tar
.nova/
packer
primum
sokol-shdc
source/shaders/*.h
core.cdb
primum.exe
core.cdb.h
jsc
.DS_Store
*.html
.vscode
primum*
Prosperon*
*.icns
game.cdb
icon.ico