[submodule "source/engine/thirdparty/sokol"]
	path = source/engine/thirdparty/sokol
	url = https://github.com/floooh/sokol.git
[submodule "source/engine/thirdparty/stb"]
	path = source/engine/thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "source/engine/thirdparty/cgltf"]
	path = source/engine/thirdparty/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "quickjs"]
	path = quickjs
	url = https://github.com/bellard/quickjs.git
