[data-md-color-scheme="youtube"] {
  --md-primary-fg-color: #3876AD;
  --md-accent-fg-color:  #94DBE8
}

a:link a:visited a:hover a:active {
  color: green;
}

#content {
  margin-top: 50px;
}

html {
  scroll-padding-top:50px;
}

h1 {
  color: red
}

#text-table-of-contents {
  background-color: #ffffec;
  border: solid;
  border-width: 2px;
  border-color: #61bcd7;  
  padding: 10px;
}

.scholium {
  background-color: #F5F5DE;
  border: solid;
  padding: 10px;
  margin: 20px;
  border-width: 2px;
  border-color: #75FB4C;
}

.scholium p {
  margin: 0;
}

.floathead {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display flex;
  align-items: center;
  justify-content: center;
  background-color: #3876AD;
}

.floathead a {
  float: left; /* Float links side by side */
  line-height: 100%;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  height: 3rem;
  line-height: 3rem;
  text-align: center; /* Center-align text */
  font-size: 24px;
  color: #61bcd7;
}

#content {
  max-width: 800px;
}

.floathead a:hover {
  color: white;
}

h1 {
  color: #61BCD7;
}

#org-div-home-and-up {
  position: sticky;
  top: 20px;
}

code {
  font-family: code;
  color: #61bcd7;
}

.example {
  margin: 10px 20px;
  padding: 20px;
  font-family: code;
  font-size: 16px;
  line-height: 1em;
  display: inline-block;
}

.code {
    padding: 2px 5px;
    background-color: rgba(var(--bs-body-bg-rgb), 0.75);
    border: solid 1px var(--bs-border-color);
    color: var(--bs-body-color);
    white-space: pre-wrap;
    word-wrap: break-word;
}

.title {
  font-family: arial;
}

@font-face {
  font-family: "code";
  src: url(dos.ttf);
}

.navbar {
  background-color: #1678b2;
}

.navbar-brand span {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.terminal-prompt {
  background-image: url(/prosperon_orb_horizontal.gif);
  background-size: contain;
  background-repeat: no-repeat;
}

.wm-page-toc-tree li:first-of-type{display:none}
